

.KeyWrapper-input {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 1px;
    height: 1px;
}


.Stage-coin {
    margin: 5px;
    border: 5px solid orange;
    border-radius: 30px;
    padding: 25px;
    height: 100px;
    margin: 5px;
    box-shadow: 10px 10px 15px #888888;
    background-color: rgb(255, 223, 0);
}

.Stage-coin-inner {
    font-size: 60px;
    color: white;
    position: relative;
    top: -12px;
    left: -5px;
}

.Stage-ok {
    box-shadow: none;
    background-color: rgb(187, 164, 0);
    border-color: rgb(190, 123, 0);
}

.Stage-invalid {
    background-color: red;
    box-shadow: none;
}

.Editor-workarea {
    min-height: 140px;
    margin-bottom: 10px;
}

.Editor-saved-list li {
    margin-bottom: 10px;
}

.Editor .btn {
    margin: 10px;
}

.GameOver .label {
    font-size: 80px;
}

.RunningTimer {
    float: right;
}

.Editor-delete-stage {
    float: right;
}

.debug { display: none; }

.RunningTimer {
    font-size: 40pt;
}
