

.KeyWrapper-input {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 0px;
    opacity: 0;
}


.Stage .badge {
    font-size: 80px;
    margin-right: 10px;
}


.Editor-workarea {
    min-height: 130px;
    margin-bottom: 10px;
}

.Editor-saved-list li {
    margin-bottom: 10px;
}

.Editor .btn {
    margin: 10px;
}

.GameOver .label {
    font-size: 80px;
}

.RunningTimer {
    float: right;
}
