

.KeyWrapper-input {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 1px;
    height: 1px;
}


.Stage .badge {
    font-size: 80px;
    margin: 5px;
}


.Editor-workarea {
    min-height: 140px;
    margin-bottom: 10px;
}

.Editor-saved-list li {
    margin-bottom: 10px;
}

.Editor .btn {
    margin: 10px;
}

.GameOver .label {
    font-size: 80px;
}

.RunningTimer {
    float: right;
}

.Editor-delete-stage {
    float: right;
}

.debug { display: none; }

.RunningTimer {
    font-size: 40pt;
}
